Source: pygeoip
Section: python
Priority: extra
Maintainer: SimpleGeo Nerds <nerds@simplegeo.com>
Uploaders: Ian Eure <ian@simplegeo.com>
Build-Depends: cdbs, debhelper (>= 7), python, python-setuptools, python-support
Standards-Version: 3.8.4
Homepage: http://code.google.com/p/pygeoip/

Package: python-pygeoip
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A pure Python library for binary GeoIP databases.
 This is a pure Python alternative to MaxMind's C-based Python API for
 binary GeoIP databases. It is intended to make it easier to develop
 on Windows, or to simplify dependencies for things that don't require
 the speed/features of the C API.